.displayFlexColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.formContainer {
  max-width: 566px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 99px 10px;
  padding-top: 138px;
  box-sizing: border-box;
}

.innerContainer {
  max-width: 368px;
  height: 482px;
  position: relative;
}

.form {
  margin-bottom: auto;
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkBoxContainer {
  margin-bottom: 40px;
}

.bold600 {
  font-weight: 600;
}

/*/////// media queries */

@media only screen and (max-width: 600px) {
  .innerContainer {
    height: 420px;
  }
  .formContainer {
    max-width: 100%;
    padding: 50px 10px;
    margin-top: 30px;
  }
  .form {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .innerContainer {
    height: auto;
  }
  .formContainer {
    padding: 30px 10px;
  }
  .form {
    margin-bottom: 50px;
  }
}
